@charset "UTF-8";

/*
<!--    
Fonte: Open Sans (google fonts)
Cores das fontes: #555, #111
Cor dos links: #fd8a24
Cor da top bar e da footer: #333
-->*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --fonte1:'Open Sans', sans-serif;
}

* { 
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body {
    font-family: var(--fonte1);
}

.top-bar {
    background: #333;
    color: white;
    font-size: 24px;
    font-weight: 600;
    height: 5vh;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid #fd8a24;
}

.container {
    max-width: 888px;
    margin: auto;
    padding: 30px;
}

.headline {
    font-size: 56px;
    line-height: 58px;
    color: #111;
}

.subtitle {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    color: #333;
    padding: 25px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.author {
    font-size: 16px;
    line-height: 22px;
    font-weight: 800;
    color: #555;
    padding: 25px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.date {
    color: #555;
    padding: 0;
}
.social-icons {
    padding: 30px;
    padding-left: 0px;
    padding-bottom: 7px;
}

.social-icon {
    width: 25px;
    margin: 10px 5px 10px 0px;
}

a {
    text-decoration: none;
}

.content {
    max-width: 720px;
    margin: auto;
    padding: 30px;
}

p {
    font-size: 26px;
    line-height: 40px;
    text-align: justify;
}

span {
    color: #fd8a24;
    font-weight: 800;
}